{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité - FootMatch{% endblock %}

{% block body %}
<div class="container py-5">
    <h1>Politique de Confidentialité</h1>
    <hr>
    
    <h3>1. Données personnelles</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
    <h3>2. Collecte de données</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    
    <h3>3. Utilisation des données</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <h3>4. Protection des données</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
    <h3>5. Droits des utilisateurs</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    
    <p><a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a></p>
</div>
{% endblock %}
